        body .serif {
            font-family: "sans-serif"
        }
        
        * {
            box-sizing: border-box;
        }
        /* Button used to open the chat form - fixed at the bottom of the page */
        
        .open-button {
            display: inline-block;
            background-color: rgb(3, 60, 240);
            color: #FFFFFF;
            padding: 16px 20px;
            border: none;
            opacity: 0.85;
            position: fixed;
            bottom: 30px;
            right: 100px;
            width: 120px;
            box-shadow: 0 -1.5px 3px rgba(0, 0, 0, 0.18), 1.5px 0px 3px rgba(0, 0, 0, 0.23);
            transition: all 0.3s linear;
            border-radius: 2px;
            font-weight: bold;
            animation: animatebottom 0.35s;
            cursor: pointer;
        }
        
        @keyframes animatebottom {
            0% {
                background-color: rgb(3, 60, 240);
                right: 100px;
                bottom: -100px;
            }
            25% {
                background-color: rgb(3, 60, 240);
                right: 100px;
                bottom: 7.5px;
            }
            50% {
                background-color: rgb(3, 60, 240);
                right: 100px;
                bottom: 15px;
            }
            75% {
                background-color: rgb(3, 60, 240);
                right: 100px;
                bottom: 22.5px;
            }
            100% {
                background-color: rgb(3, 60, 240);
                right: 100px;
                bottom: 30px;
            }
        }
        /* The popup chat - hidden by default */
        
        .chat-popup {
            display: none;
            position: fixed;
            bottom: 20px;
            right: 100px;
            border: 3px solid #f1f1f1;
            z-index: 9;
            box-shadow: 0 -1.5px 3px rgba(0, 0, 0, 0.18), 1.5px 0px 3px rgba(0, 0, 0, 0.23);
        }
        /* Add styles to the form container */
        
        .form-container {
            max-width: 400px;
            padding: 10px;
            background-color: rgb(241, 241, 241);
            opacity: 3;
        }
        /* Full-width textarea */
        
        .form-container textarea {
            width: 100%;
            padding: 10px;
            border-width: 20px;
            border-color: rgb(249, 179, 13);
            margin: 5px 0 15px 0;
            border: none;
            background: white;
            resize: none;
            min-height: 100px;
        }
        /* When the textarea gets focus, do something */
        
        .form-container textarea:focus {
            background-color: white;
            border-color: rgb(249, 179, 13);
            border-width: 20px;
            outline: none;
        }
        
        .form-container iframe {
            padding: 0px;
        }
        /* Set a style for the submit/send button */
        
        .form-container .btn {
            background-color: rgb(249, 179, 13);
            padding: 18px;
            color: white;
            border: none;
            cursor: pointer;
            width: 100%;
            border-radius: 25px;
            margin-bottom: 2px;
            /*opacity: 0.8;*/
        }
        /* Add a red background color to the cancel button */
        
        .form-container .cancel {
            background-color: rgb(28, 38, 60);
            margin-top: 2px;
        }
        /* Add some hover effects to buttons */
        
        .form-container .btn:hover,
        .open-button:hover {
            opacity: 1;
        }